html {
	background-image: linear-gradient(to right, #F5BAB6, #B6C6F5, #31BC85);
}
.grid {
	display: grid;
	padding: 100px;
	grid-template-columns: auto auto auto;
}

.1 {
	border: 1px black;
	padding: 150px;
	font-sie: 50px;
	text-align: center;
}

.2 {
	border: 1px black;
	padding: 150px;
	font-sie: 50px;
	text-align: center;
}

.3 {
	border: 1px black;
	padding: 150px;
	font-sie: 50px;
	text-align: center;
}

.4 {
	border: 1px black;
	padding: 150px;
	font-sie: 50px;
	text-align: center;
}

.5 {
	border: 1px black;
	padding: 150px;
	font-sie: 50px;
	text-align: center;
}

.6 {
	border: 1px black;
	padding: 150px;
	font-sie: 50px;
	text-align: center;
}

.7 {
	border: 1px black;
	padding: 150px;
	font-sie: 50px;
	text-align: center;
}

.8 {
	border: 1px black;
	padding: 150px;
	font-sie: 50px;
	text-align: center;
}

.9 {
	border: 1px black;
	padding: 150px;
	font-sie: 50px;
	text-align: center;
}
.circle1 {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	transform: translate(140px, 22px);
}

.circle2 {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	transform: translate(230px, 165px);
}

.circle3 {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	transform: translate(170px, 60px);
}

.circle4 {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	transform: translate(130px, 270px);
}

.circle5 {
	width: 40px;
	height: 40px;
	background-color: black;
	border-radius: 50%;
	transform: translate(10px, 5px);
}

.circle6 {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	transform: translate(34px, 20px);
}

.circle7 {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	transform: translate(65px, -80px);
}

.circle8 {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	transform: translate(-20px, 30px);
}

.circle9 {
	width: 20px;
	height: 20px;
	background-color: black;
	border-radius: 50%;
	transform: translate(105px, -75px);
}

.line1 {
	width: 5px;
	height: 100px;
	background-color: black;
	transform: rotate(20deg);
	animation-name: line1;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

.line2 {
	width: 5px;
	height: 100px;
	background-color: black;
	transform: rotate(340deg) translate(75px,-79px);
	animation-name: line2;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

.line3 {
	width: 30px;
	height: 5px;
	background-color: black;
	transform: translate(10px,-150px);
	animation-name: line3;
	animation-duration: 3s;
	animation-delay: 2s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes line1 {
	0% { 
		width: 5px;
		height: 100px;
	}
	50% { 
		width: 5px;
		height: 600px;
	}
	0% { 
		width: 5px;
		height: 100px;
	}
}

@keyframes line2 {
	0% { 
		width: 5px;
		height: 100px;
		transform: rotate(340deg) translate(75px,-79px);
	}
	50% { 
		width: 5px;
		height: 900px;
		transform: rotate(340deg) translate(400px,-500px);
	}
	0% { 
		width: 5px;
		height: 100px;
		transform: rotate(340deg) translate(75px,-79px);
	}
}

@keyframes line3 {
	0% { 
		width: 30px;
		height: 5px;
		transform: translate(10px,-150px);
	}
	50% { 
		width: 500px;
		height: 5px;
		transform: translate(-10px,-1300px);
	}
	100% { 
		width: 30px;
		height: 5px;
		transform: translate(10px,-150px);
	}	
}

.rec1 {
	width: 30px;
	height: 10px;
	background-color: black;
}