html {
	background-image: linear-gradient(to right, #F5BAB6, #B6C6F5, #31BC85);
}
.stem {
	width: 20px;
	height: 80px;
	background-image: linear-gradient(#C99E6E, #845C2F, #543410);
	border-radius: 5px;
	transform: translate(507px, 145px);
}

.apple1 {
	width: 400px;
	height: 400px;
	background-image: linear-gradient(orangered, #8C2618);
	border-radius: 50%;
	transform: scale(.85,1.0) translate(300px, 100px);
}

.apple2 {
	width: 400px;
	height: 400px;
	background-image: linear-gradient(orangered, #8C2618);
	border-radius: 50%;
	transform: scale(.85,1.0) translate(450px, -300px);
}

.leaf {
	width: 40px;
	height: 30px;
	background-color: #4F9A3C;
	background-image: linear-gradient(#76BC17, #A6EA4A, #72F174, #4F9A3C);
	border-radius: 70px 10px 70px 10px;
	transform: scale(2) translate(273px, 40px);
}

.circle1 {
	width: 48px;
	height: 40px;
	background-color: #FFC300;
	border-radius: 50%;
	transform: translate(230px, 270px);
}

.circle2 {
	width: 48px;
	height: 40px;
	background-color: #FFC300;
	border-radius: 50%;
	transform: translate(200px, 165px);
}

.circle3 {
	width: 48px;
	height: 40px;
	background-color: #FFC300;
	border-radius: 50%;
	transform: translate(170px, 60px);
}

.circle4 {
	width: 48px;
	height: 40px;
	background-color: #FFC300;
	border-radius: 50%;
	transform: translate(130px, 270px);
}

.circle5 {
	width: 48px;
	height: 40px;
	background-color: #FFC300;
	border-radius: 50%;
	transform: translate(10px, 5px);
}

.circle6 {
	width: 48px;
	height: 40px;
	background-color: #FFC300;
	border-radius: 50%;
	transform: translate(34px, 20px);
}

.circle7 {
	width: 120px;
	height: 40px;
	background-color: #FFC300;
	border-radius: 60px;
	transform: translate(65px, -80px);
}

.circle8 {
	width: 48px;
	height: 40px;
	background-color: #FFC300;
	border-radius: 50%;
	transform: translate(-20px, 30px);
}

.circle9 {
	width: 48px;
	height: 40px;
	background-color: #FFC300;
	border-radius: 50%;
	transform: translate(105px, -75px);
}
