@font-face {
  font-family: 'GodoB';
  src:  url('GodoB.otf');
}

@font-face {
  font-family: 'GodoM';
  src:  url('GodoM.otf');
}

@font-face {
  font-family: 'GT-Walsheim-Pro-Regular';
  src:  url('GT-Walsheim-Pro-Regular.otf');
}


img {
	height: 100%;
	display: block;
	float: left;
	bottom: 0;
}

.button {
	width: 40px;
	height: 40px;
	position: relative;
	display: inline-block;
	padding-left: 10px;
}



.button .text {
	width: 350px;
	height: 130px;
	position: absolute;
	top: 80%;
	left: 80%;
	background-color: white;
	padding: 15px;
	font-size: 10pt;
	border-width: thin;
	border-color: #black;
	color: white;
	font-family: 'GodoB';
	text-align: center;
	display: block;
}

.button:hover .text{
	color: black;
	display: block;
	cursor: pointer;
	background-color: whitesmoke;
}


/*.frame {
	padding: 15px;
	width: 150px;
	height: 150px;
	border-radius: 100%;
	background-color: #ffffff;
	border-width: 3px;
	border-color: #000000;
	float: right;
}*/

#dateTime {
	font-size: 15pt;
	font-family: 'GT-Walsheim-Pro-Regular';
	float: right;
	font-family: 'GodoB';
}

.parent {
	position: relative;
}
.ground {
	width: 1300px;
	transform: translate(60px,400px);
	position: relative;	
}

.wateringCan {
	height: 550px;
	transform: translate(50px, 670px);
	position: absolute;
}

.wateringCan:focus {
	animation: watering .3s ease-in forwards;
}

@keyframes watering {
	100% {
		transform: translate(10px,100px);
		transform: rotate(45deg);
	}
}

.wateringCan:active {
	background-image: url('./watering.svg');
	transform: translate(300px, 670px);
}

/*#plants img {
	position: absolute;
	transform: translate(100px, -650px);
}*/

button {
	width: 100px;
	height: 30px;
}

#rect {
	width: 560px;
	height: 300px;
	top: 50px;
	left: 400px;
	position: absolute;
	background-color: whitesmoke;
	border-width: thin;
	border-color: black;
	text-align: center;
	font-size: 15pt;
	border-color: black;
  font-family: 'GodoM';



}

/*button {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #ffffff;
	text-align: center;
	font-size: 15pt;
	border-color: black;
	border-width: medium;
	font-family: 'GodoB';
	transform: translate(20px, -350px);
}*/