@font-face {
  font-family: 'IO';
  src:  url('IO.otf');
}

@font-face {
  font-family: 'GT-Walsheim-Pro-Regular';
  src:  url('GT-Walsheim-Pro-Regular.otf');
}

@font-face {
  font-family: 'HaaLigIta';
  src:  url('HaaLigIta.otf');
}


html {
	padding: 20px;
	background-color: #F6F3EA;
}

h1 {
	color: #322920;
	font-family: 'IO';
}

h2 {
	color: #6b5744;
}

h3 {
	color: rosybrown;
	font-family: 'HaaLigIta';
}
body {	
	font-family:  'GT-Walsheim-Pro-Regular';
}

#TR {
	color: #425ba3;
	font-weight: bold; 
}

#TI {
	color: #ba6c33;
	font-weight: bold;
}

#highlight {
	color: blue;
}

li {
	display: block;
}

div {
	width: 300px;
	padding: 20px;
	display: block;
	padding: 4px;
	float: right;
}

a {
	float: lefts;
}

@media screen and (max-width: 767px) {

	p {
		font-size: 30px;
	}
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 40px;
	}
	body {	
		font-size: 20px;
	}

	img {
		width: 700px;
	}
	#TR {
		padding-right: 10px;
	}
	#TI {
		padding-right: 10px;
	}
	.img {
		max-width: 500px;
	}
	.profile {
		width: 80%;
	}
	.page {
		font-size: 10px;
	}

}

@media screen and (min-width: 767px) and (max-width: 1024px ) {
	p {
		font-size: 20px;
	}
	h1 {
		font-size: 40px;
	}

	h2 {
		font-size: 40px;
	}

	h3 {
		font-size: 30px;
	}
	body {	
		font-size: 20px;
	}

	img {
		width: 300px;
	}
	#TR {
		padding-right: 10px;
	}
	#TI {
		padding-right: 10px;
	}
	.img {
		max-width: 600px;
		padding: auto auto auto auto;	
	}
	.profile {
		width: 80%;
	}
	.page {
		font-size: 5px;
	}
}