@font-face {
  font-family: 'IO';
  src:  url('IO.otf');
}

@font-face {
  font-family: 'GT-Walsheim-Pro-Regular';
  src:  url('GT-Walsheim-Pro-Regular.otf');
}

@font-face {
  font-family: 'HaaLigIta';
  src:  url('HaaLigIta.otf');
}

h1 {
	color: #322920;
	font-family: 'IO';
}

h2 {
	color: #6b5744;
}

h3 {
	color: rosybrown;
	font-family: 'HaaLigIta';
}
body {	
	font-family:  'GT-Walsheim-Pro-Regular';
}

#TR {
	color: #425ba3;
	font-weight: bold; 
}

#TI {
	color: #ba6c33;
	font-weight: bold;
}

#highlight {
	color: blue;
}

li {
	display: block;
}

div {
	width: 300px;
	padding: 20px;
	display: block;
	padding: 4px;
	float: right;
}

a {
	float: lefts;
}