

h1 {
	color: #322920;
	font-family: 'Stick No Bills', sans-serif;
}

h2 {
	color: #6b5744;
}

h3 {
	color: rosybrown;
}
body {	
	font-family:  'GoogleFont', SitckNoBills, sans-serif;
}

#TR {
	color: #425ba3;
	font-weight: bold;
}

#TI {
	color: #ba6c33;
	font-weight: bold;
}

#highlight {
	color: blue;
}


.profile {
	width: 100%;
	float: left;
	box-sizing: border-box;
	padding: 3px;
}
.img {
	width: 100%;
	float: left;
	box-sizing: border-box;
	padding: 3px;
}
img {
	width: 100%;
}
div {
	width: 300px;
	padding: 25px;
	display: inline-block;
}


@media screen and (max-width: 768px) {
	p {
		font-size: 20px;
		padding: 10px;
		display: flex;
	}	
	img {
		width: 100%;
	}
	#TR {
		padding-right: 10px;
	}
	#TI {
		padding-right: 10px;
	}
	.img {
		width: 80%;
	}
	.profile {
		width: 50%;
	}

}

@media screen and (max-width: 1240px) {
	p {
		display: flex;
		align-content: center;
	}
    .profile {
    	width: 50%;
	}
    .img {
		width: 50%;
    }
}