@media screen and (min-width: 768px) {
	div {
		display: flex;
		font-size: 50px;
		padding: 5px;
	}
	.img {
		width: 70%;
	}

}

@media screen and (min-width: 1240px) {
	html {
		margin: ;
	}
    img {
		width:80%;
    }
}

h1 {
	color: #322920;
	font-family: 'Stick No Bills', sans-serif;
}

h2 {
	color: #6b5744;
}

h3 {
	color: rosybrown;
}
body {	
	font-family:  'GoogleFont', SitckNoBills, sans-serif;
}

#TR {
	color: #425ba3;
	font-weight: bold;
}

#TI {
	color: #ba6c33;
	font-weight: bold;
}

#highlight {
	color: blue;
}

li {
	display: block;
}

div {
	width: 300px;
	padding: 25px;
	display: inline-block;
}